---
import Base from "@/layouts/Base.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";

const posts = await getSinglePage("posts");
const weeklyPosts = taxonomyFilter(posts, "categories", "週刊占い");
const sortedPosts = sortByDate(weeklyPosts);
---

<Base title="週刊占い">
  <section class="section">
    <div class="container">
      <h1 class="h2 page-heading mb-16 text-center">週刊占い</h1>
      <Posts posts={sortedPosts} className="mb-16" fluid={false} />
    </div>
  </section>
</Base> 